@keyframes icon-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
.tz-about-section {
	background-color: #EDECFD;
}
.tz-ab-img-wrap {
	overflow: hidden;
	.item-img {
		height: 514px;
		max-width: 600px;
		clip-path: polygon( 42.692% 17%,42.692% 17%,42.66% 17.473%,42.565% 17.922%,42.413% 18.341%,42.21% 18.723%,41.96% 19.063%,41.669% 19.355%,41.341% 19.592%,40.983% 19.769%,40.598% 19.88%,40.192% 19.918%,2.5% 19.918%,2.5% 19.918%,2.094% 19.956%,1.71% 20.067%,1.351% 20.244%,1.024% 20.481%,0.732% 20.773%,0.482% 21.113%,0.279% 21.495%,0.127% 21.914%,0.033% 22.363%,0% 22.836%,0% 46.979%,0% 46.979%,0.033% 47.452%,0.127% 47.901%,0.279% 48.32%,0.482% 48.703%,0.732% 49.043%,1.024% 49.334%,1.351% 49.572%,1.71% 49.749%,2.094% 49.859%,2.5% 49.897%,58.654% 49.897%,58.654% 49.897%,59.059% 49.935%,59.444% 50.046%,59.803% 50.223%,60.13% 50.46%,60.422% 50.752%,60.671% 51.092%,60.875% 51.474%,61.026% 51.893%,61.121% 52.342%,61.154% 52.816%,61.154% 97.082%,61.154% 97.082%,61.187% 97.555%,61.281% 98.004%,61.433% 98.423%,61.636% 98.805%,61.886% 99.145%,62.177% 99.437%,62.505% 99.674%,62.864% 99.851%,63.248% 99.962%,63.654% 100%,97.5% 100%,97.5% 100%,97.906% 99.962%,98.29% 99.851%,98.649% 99.674%,98.976% 99.437%,99.268% 99.145%,99.518% 98.805%,99.721% 98.423%,99.873% 98.004%,99.967% 97.555%,100% 97.082%,100% 2.918%,100% 2.918%,99.967% 2.445%,99.873% 1.996%,99.721% 1.577%,99.518% 1.195%,99.268% 0.855%,98.976% 0.563%,98.649% 0.326%,98.29% 0.149%,97.906% 0.038%,97.5% 0%,45.192% 0%,45.192% 0%,44.787% 0.038%,44.402% 0.149%,44.043% 0.326%,43.716% 0.563%,43.425% 0.855%,43.175% 1.195%,42.971% 1.577%,42.82% 1.996%,42.725% 2.445%,42.692% 2.918%,42.692% 17%,2.5% 52.724%,56.333% 52.724%,56.739% 52.762%,57.124% 52.873%,57.482% 53.049%,57.81% 53.287%,58.101% 53.579%,58.351% 53.919%,58.554% 54.301%,58.706% 54.72%,58.801% 55.169%,58.833% 55.642%,58.833% 55.642%,58.833% 97.082%,58.801% 97.555%,58.706% 98.004%,58.554% 98.423%,58.351% 98.805%,58.101% 99.145%,57.81% 99.437%,57.482% 99.674%,57.124% 99.851%,56.739% 99.962%,56.333% 100%,56.333% 100%,2.5% 100%,2.094% 99.962%,1.71% 99.851%,1.351% 99.674%,1.024% 99.437%,0.732% 99.145%,0.482% 98.805%,0.279% 98.423%,0.127% 98.004%,0.033% 97.555%,0% 97.082%,0% 97.082%,0% 55.642%,0.033% 55.169%,0.127% 54.72%,0.279% 54.301%,0.482% 53.919%,0.732% 53.579%,1.024% 53.287%,1.351% 53.049%,1.71% 52.873%,2.094% 52.762%,2.5% 52.724%,2.5% 52.724% );
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media #{$xs} {
			height: 350px;
			clip-path: none;
			overflow: hidden;
			border-radius: 20px;
		}
	}
	.item-play {
		top: 0;
		left: 0;
		width: 243px;
		height: 90px;
		overflow: hidden;
		position: absolute;
		border-radius: 15px;
		@media #{$xs} {
			position: relative;
			margin-bottom: 15px;
		}
		a {
			width: 100%;
			height: 100%;
			padding: 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: rgba(104, 59, 242, 0.85);
			span {
				color: #fff;
				font-size: 14px;
				font-weight: 700;
				max-width: 82px;
			}
			i {
				width: 45px;
				height: 45px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				background-color: #fff;
				justify-content: center;
				color: var(--tz-prime-c);
			}
		}
	}
}
.tz-about-content {
	gap: 30px;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.tz-ab-text {
	max-width: 630px;
	.tz-section-title { 
		p {
			padding-top: 32px;
		}
	}
	@media screen and (max-width: 1270px) {
		max-width: 550px;
	}
	@media #{$lg,$md,$sm,$xs} {
		max-width: 600px;
	}
}
.tz-ab-ft-wrap {
	gap: 20px;
	margin-top: 28px;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	.item-icon {
		width: 75px;
		height: 75px;
		border-radius: 100%;
		background-color: #fff;
		box-shadow: 0px 10px 26px 0px rgba(28, 11, 80, 0.09);
		animation: icon-bounce 1s ease-out infinite;
	}
	.item-text {
		max-width: 490px;
		@media screen and (max-width: 1270px) {
			max-width: 420px;
		}
		h3 {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 10px;
		}
	}
}