.tz-blog-sec {
	overflow: hidden;
	.tz-section-title {
		margin: 0 auto;
		max-width: 570px;
	}
}
.tz-blog-item {
	margin: 0 auto;
	max-width: 410px;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 30px;
	background-color: #F6F6F6;
	.item-img {
		overflow: hidden;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		padding: 35px 30px;
		.item-meta {
			margin-bottom: 15px;
			a {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
			i {
				margin-right: 5px;
				color: var(--tz-prime-c);
			}
		}
		.blog_title {
			font-size: 20px;
			font-weight: 700;
			padding-bottom: 30px;
		}
		.read_more {
			font-weight: 700;
			position: relative;
			color: var(--tz-prime-c);
			&:before {
				left: 0;
				bottom: 0;
				content: '';
				height: 1px;
				width: 0%;
				position: absolute;
				transition: all 500ms ease-in-out;
				background-color: var(--tz-prime-c);
			}
			i {
				font-size: 14px;
				transition: all 300ms ease-in-out;
			}
		}
	}
	&:is(.list-view-item) {
		padding: 20px;
		max-width: 850px;
		.item-img { 
			margin-bottom: 20px;
			border-radius: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media #{$xxs} {
				height: 260px;
			}
		}
		.item-text {
			padding: 10px;
			.item-meta {
				margin-bottom: 16px;
			}
			.blog_title {
				font-size: 24px;
				padding-bottom: 16px;
			}
			p {
				padding-bottom: 20px;
			}
		}
	}
	&:hover {
		.item-text {
			.read_more {
				&:before {
					width: 100%;
				}
				i {
					margin-left: 8px;
				}
			}
		}
		.item-img {
			img {
				transform: scale(1.08);
			}
		}
	}
}