.tz-sponsor-content {
	overflow: hidden;
	display: flow-root;
}
.tz-sponsor-item {
	margin: 8px;
	border-radius: 15px;
	display: inline-block;
	background-color: #F6F6F6;
	.item-img {
		width: 260px;
		height: 140px;
		@media #{$xs} {
			width: 220px;
			height: 100px;
		}
	}
}