.tz-sponsor-content {
	margin: 0 auto;
	overflow: hidden;
	display: flow-root;
	max-width: 1920px;
}
.tz-sponsor-sec {
	&:is(.ver_2) {
		background-color: #F2F2F2;
		.tz-sponsor-item {
			background-color: #fff;
		}
	}
}
.tz-ab3-sponsor {
	z-index: 1;
	.tz-ab3-shape {
		top: -162%;
		right: -53%;
		z-index: -1;
	}
}
.tz-sponsor-item {
	margin: 8px;
	border-radius: 15px;
	display: inline-block;
	background-color: #F6F6F6;
	.item-img {
		width: 260px;
		height: 140px;
		@media #{$xs} {
			width: 220px;
			height: 100px;
		}
	}
	&:is(.ver_3) {
		background-color: #fff;
		.item-img {
			height: 120px;
		}
	}
	&:is(.ver_4) {
		bbackground: linear-gradient(180deg, #EDF0F4 0%, rgba(237, 240, 244, 0) 100%);
		.item-img {
			height: 90px;
		}
	}
}
.tz-ab3-btm-1 {
	overflow: hidden;
	display: flow-root;
}
.tz-ab3-bottom-marque {
	padding: 27px 0px;
	background-color: var(--tz-prime-c);
}
.tz-ab3-btm-text {
	margin: 0px 40px;
	display: inline-block;
	.item-text {
		color: #fff;
		font-size: 30px;
		font-weight: 700;
		position: relative;
		&:before {
			top: 23px;
			width: 20px;
			height: 1px;
			content: '';
			right: -48px; 
			position: absolute;
			background-color: #fff;
		}
	}
}