.tz-team-sec {
	.tz-section-title {
		margin: 0 auto;
		max-width: 570px;
	}
}
.tz-team-item {
	.item-img {
		overflow: hidden;
		border-radius: 15px;
	}
	.item-text {
		z-index: 2;
		margin-top: -60px;
		position: relative;
		background-color: #fff;
		.item-social {
			.share-social {
				color: #fff;
				width: 60px;
				height: 60px;
				border-bottom-left-radius: 15px;
				background-color: var(--tz-prime-c);
			}
		}
		.tz-name-degi {
			width: 85%;
			padding: 23px 30px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
			box-shadow: 0px 10px 50px 0px rgba(23, 11, 61, 0.05);
			h3 {
				font-size: 24px;
				font-weight: 700;
				padding-bottom: 5px;
			}
		}
	}
}