.tz-ser5-sec {
	background-color: #05091A;
}
.tz-ser5-top-content {
	gap: 20px 40px;
	.tz-section-title {
		max-width: 520px;
		.sec_title {
			color: #fff;
		}
	}
	.tz-ser5-arrow {
		gap: 15px;
	}
	.tz-ser5-next,
	.tz-ser5-prev {
		color: #fff;
		width: 55px;
		height: 55px;
		cursor: pointer;
		border-radius: 100%;
		background-color: var(--tz-prime-c);
	}
}
.tz-ser5-slider-area {
	margin: 65px 80px 0px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		margin: 65px 15px 0px;
	}
}
.tz-ser5-item {
	padding: 20px;
	overflow: hidden;
	margin: 0 auto;
	max-width: 566px;
	border-radius: 15px;
	background-color: #fff;
	&:is(.ver_2) {
		margin-bottom: 40px;
		.item-text {
			.read_more {
				padding: 12px 30px;
				border-radius: 100px;
				color: var(--tz-prime-c);
				background-color: #F0EFFF;
				&:before {
					display: none;
				}
				&:hover {
					color: #fff;
					background-color: var(--tz-prime-c);
				}
			}
		}
	}
	.item-img {
		height: 250px;
		overflow: hidden;
		border-radius: 15px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 500ms, -webkit-transform 500ms;
			transform: perspective(0px) rotateY(0deg) rotateX(0deg) scaleX(1) scaleY(1);
		}
	}
	.item-icon {
		left: 0;
		bottom: 0;
		width: 100px;
		height: 100px;
		position: absolute;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		background-color: var(--tz-prime-c);
		transition: all 500ms ease-in-out;
	}
	.item-text {
		margin-top: 25px;
		h3 {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 12px;
		}
		p {
			max-width: 500px;
			padding-bottom: 18px;
		}
		.read_more {
			font-weight: 700;
			color: var(--tz-prime-c);
			position: relative;
			&:before {
				left: 0;
				bottom: 0;
				content: '';
				height: 1px;
				width: 0%;
				position: absolute;
				transition: all 400ms ease-in-out;
				background-color: var(--tz-prime-c);
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
	&:hover {
		.item-img {
			img {
				transform: perspective(2000px) rotateY(0.1deg) rotateX(0deg) scaleX(1.1) scaleY(1.1);
			}
		}
		.item-icon {
			bottom: 50%;
			border-radius: 0;
			transform: translateY(50%);
		}
	}
}