.tz-sponsor5-sec {
	margin: 0px 80px;
	overflow: hidden;
	padding: 40px 0px;
	background-color: var(--tz-prime-c);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		margin: 0;
		border-radius: 0;
	}
}