.tz-contact3-sec {
	z-index: 1;
	overflow: hidden;
	background-color: var(--tz-prime-c);
	.tz-cont3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.tz-section-title {
		margin: 0 auto;
		max-width: 540px;
		.subtitle {
			color: #fff;
		}
		.sec_title {
			color: #fff;
		}
	}
}
.tz-cont3-content {
	padding: 60px;
	margin: 0 auto;
	max-width: 935px;
	margin-top: 65px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	@media #{$xxs} {
		padding: 30px;
		margin-top: 40px;
	}
	input,textarea {
		width: 100%;
		height: 50px;
		border: none;
		padding: 20px;
		border-radius: 8px;
		margin-bottom: 20px;
		background-color: #fff;
		color: var(--tz-title-color);
		background-color: #fff;
		border: 1px solid transparent;
		transition: all 400ms ease-in-out;
		&::placeholder {
			color: var(--tz-title-color);
		}
		&:focus {
			border: 1px solid var(--tz-prime-c);
		}
	}
	textarea {
		height: 155px;
	}
	button {
		width: 100%;
		color: #fff;
		border: none;
		padding: 15px;
		font-weight: 700;
		border-radius: 8px;
		transition: all 400ms ease-in-out;
		background-color: var(--tz-prime-c);
		&:hover {
			background-color: var(--tz-title-color);
		}
	}
	&:is(.ver_2) {
		background-color: #F2F3F4;
		h3 {
			font-size: 28px;
			font-weight: 700;
			padding-bottom: 20px;
		}
	}
}