.tz-cta3-sec {
	background-color: #05091A;
}
.tz-cta3-content {
	z-index: 1;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	@media #{$xs} {
		border-radius: 0;
		padding: 60px 0px;
	}
	&:before {
		left: 0;
		bottom: 0;
		content: '';
		width: 100%;
		z-index: -3;
		height: 100%;
		position: absolute;
		background: linear-gradient(180deg, rgba(195, 175, 255, 0) 34.03%, #683BF2 100%);
	}
	.tz-cta3-img {
		right: 0;
		z-index: -1;
		top: -120px;
		@media #{$xxl} {
			right: -100px;
		}
		@media #{$xl} {
			right: -250px;
		}
		@media #{$lg} {
			right: -45%;
		}
		@media #{$md,$sm} {
			right: -55%;
		}
		@media #{$xs} {
			display: none;
		}
	}
	.tz-cta3-shape1 {
		top: 16%;
		right: 16%;
		z-index: -2;
		@media #{$xl} {
			right: 3%;
		}
		@media #{$lg} {
			right: -5%;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.tz-cta3-shape2 {
		top: 35%;
		right: 14%;
		z-index: -2;
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.tz-cta3-shape3 {
		top: 12%;
		right: 5%;
		z-index: -2;
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
}
.tz-cta3-area {
	max-width: 565px;
}
.tz-cta-btn-grp {
	gap: 10px;
	flex-wrap: wrap;
	a {
		font-weight: 500;
		padding: 5px 15px;
		border-radius: 5px;
		background-color: #fff;
		color: var(--tz-title-color);
		i {
			margin-right: 8px;
			color: var(--tz-prime-c);
		}
	}
}