.tz-faq3-sec {
	z-index: 1;
	overflow: hidden;
	background-color: #F6F6F6;
	.tz-faq3-shape {
		top: -95%;
		left: -45%;
		z-index: -1; 
	}
}
.tz-faq3-content {
	gap: 30px 40px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.tz-faq3-img-wrap {
	width: 100%;
	max-width: 654px;
	padding-left: 75px;
	@media #{$lg,$md,$sm,$xs} {
		padding-bottom: 60px;
	}
	@media #{$xs} {
		padding-left: 0;
		text-align: center;
	}
	.item-img1 {
		padding: 15px;
		display: inline-block;
		border-radius: 15px;
		background-color: #fff;
		border: 1px solid var(--tz-prime-c);
		img {
			border-radius: 15px;
		}
	}
	.item-img2 {
		right: 0;
		bottom: 0;
		overflow: hidden;
		position: absolute;
		border-radius: 15px;
		box-shadow: 0px 4px 43px 0px #0000001F;
		@media #{$xs} {
			display: none;
		}
	}
	.item-img3 {
		left: 0;
		bottom: 185px;
		overflow: hidden;
		position: absolute;
		border-radius: 15px;
		box-shadow: 0px 4px 43px 0px #0000001F;
		@media #{$xs} {
			display: none;
		}
	}
}
.tz-faq3-accordion-wrap {
	max-width: 695px;
	@media #{$xl} {
		max-width: 600px;
	}
	.tz-faq-accordion {
		@media #{$xl} {
			margin-top: 30px;
		}
	}
}