.tz-team3-sec {
	overflow: hidden;
	background-color: #05091A;
	.tz-team3-shape {
		left: 0;
		width: 100%;
		bottom: -35%;
		height: 100%;
		margin: 0 auto;
	}
	.tz-section-title {
		margin: 0 auto;
		max-width: 595px;
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}
.tz-team3-content {
	margin-top: 65px;
}
.tz-team3-item {
	margin: 0 auto;
	max-width: 440px;
	padding-bottom: 80px;
	transform: translateY(80px);
	transition: 700ms cubic-bezier(0.61, -0.63, 0.46, 1.48);
	.item-img {
		overflow: hidden;
		border-radius: 15px;
	}
	.social-icon {
		opacity: 0;
		z-index: 2;
		right: 0px;
		bottom: 125px;
		visibility: hidden;
		position: absolute;
		transition: 700ms cubic-bezier(0.61, -0.63, 0.46, 1.48);
		a {
			color: #fff;
			width: 45px;
			height: 45px;
			display: flex;
			margin-bottom: 10px;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			background-color: var(--tz-prime-c);
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	.item-text {
		right: 0;
		opacity: 0;
		width: 100%;
		bottom: 80px;
		max-width: 370px;
		position: absolute;
		border-radius: 15px;
		visibility: hidden;
		background-color: #fff;
		padding: 22px 30px 20px;
		border-top-right-radius: 0px;
		transition: 700ms cubic-bezier(0.61, -0.63, 0.46, 1.48);
		.name-degi-social {
			margin-bottom: 18px;
			padding-bottom: 15px;
			border-bottom: 1px solid #E6E5EB;
		}
		.name-degi {
			h3 {
				font-size: 24px;
				font-weight: 700;
				padding-bottom: 3px;
				color: var(--tz-title-color);
			}
		}
		.item-social {
			color: #fff;
			width: 45px;
			height: 45px;
			border-radius: 100%;
			background-color: var(--tz-prime-c);
		}
		.item-award {
			font-weight: 600;
			color: var(--tz-prime-c);
			i {
				font-size: 20px;
				margin-right: 8px;
			}
		}
	}
	// &:hover {
	// 	padding-bottom: 80px;
	// 	transform: translateY(0px);
	// 	.item-text {
	// 		bottom: 0;
	// 		opacity: 1;
	// 		visibility: visible;
	// 	}
	// 	.social-icon {
	// 		opacity: 1;
	// 		right: 30px;
	// 		visibility: visible;
	// 		transition-delay: 400ms;
	// 	}
	// }
}
.swiper-slide-active {
	.tz-team3-item {
		padding-bottom: 80px;
		transform: translateY(0px);
		.item-text {
			bottom: 0;
			opacity: 1;
			visibility: visible;
			transition-delay: 400ms;
		}
		.social-icon {
			opacity: 1;
			right: 30px;
			visibility: visible;
			transition-delay: 600ms;
		}
	}
}
.tz-team3-nav  {
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		display: flex;
		gap: 0px 15px;
		margin-top: 20px;
		justify-content: center;
	}
	.tz-team3-next,
	.tz-team3-prev {
		top: 55%;
		width: 60px;
		height: 60px;
		z-index: 3;
		position: absolute;
		border-radius: 100%;
		background-color: #fff;
		transform: translateY(-50%);
		transition: all 300ms ease-in-out;
		@media #{$xs} {
			width: 45px;
			height: 45px;
		}
		&:hover {
			transform: translateY(-50%) scale(1.1);
		}
		@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
			position: static;
			transform: translateY(0%);
			&:hover {
				transform: translateY(0) scale(1.1);
			}
		}
	}
	.tz-team3-prev {
		left: -85px;
	}
	.tz-team3-next {
		right: -85px;
	}
}