.tz-footer-sec {
	z-index: 1;
	overflow: hidden;
	background-color: #05091A;
	.tz-ftr-shape {
		top: 25%;
		left: 70px;
		z-index: -1;
	}
	.tz-ftr-sh1 {
		z-index: -1;
		top: -45px;
		right: -45px;
	}
	.tz-ftr-sh2 {
		top: -30px;
		right: -30px;
		z-index: -2;
	}
	.tz-ftr-sh3,
	.tz-ftr-sh4 {
		top: 30%;
		right: 5%;
	}
	.tz-ftr-sh4 {
		top: 31%;
		right: 6%;
	}
	.tz-ftr-sh5 {
		left: -13%;
		bottom: -13%;
		z-index: -1;
		opacity: .09;
	}
}
.tz-footer-newsletter {
	gap: 30px;
	border-bottom: 1px solid #161A2C;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.tz-ft-news-text {
	gap: 15px 30px;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	.item-icon {
		color: #fff;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		background-color: var(--tz-prime-c);
		i {
			font-size: 28px;
		}
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 34px;
			font-weight: 700;
			padding-bottom: 10px;
			@media #{$lg,$md,$sm,$xs} {
				font-size: 30px;
			}
		}
		span {
			color: #A9A9AA;
		}
	}
}
.tz-ft-news-form {
	width: 100%;
	max-width: 520px;
	@media #{$lg} {
		max-width: 400px;
	}
	@media #{$md,$sm,$xs} {
		max-width: 100%;
	}
	input {
		width: 100%;
		height: 60px;
		border: none;
		padding-left: 30px;
		border-radius: 30px;
		background-color: #fff;
	}
	button {
		top: 5px;
		right: 5px;
		color: #fff;
		border: none;
		font-weight: 600;
		padding: 13px 35px;
		position: absolute;
		border-radius: 50px;
		background-color: var(--tz-prime-c);
		@media #{$lg,$md,$sm,$xs} {
			padding: 13px 25px;
		}
		@media #{$xxs} {
			position: static;
			margin-top: 15px;
		}
	}
}
.tz-footer-widget-wrap {
	gap: 30px 75px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		gap: 30px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		gap: 30px 40px;
		justify-content: space-between;
	}
}
.tz-footer-widget {
	.widget-title {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 24px;
	}
	.logo-widget {
		max-width: 310px;
		@media #{$lg,$md,$sm,$xs} {
			max-width: 250px;
		}
		p {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		.footer-social {
			gap: 8px;
			a {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: #0D1329;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
	.menu-widget {
		li {
			margin-bottom: 13px;
			a {
				color: #9DA0AD;
				padding-left: 20px;
				position: relative;
				&:before {
					top: 0;
					left: 0;
					font-weight: 900;
					content: '\f054';
					position: absolute;
					color: var(--tz-prime-c);
					font-family: 'Font Awesome 5 Free';
				}
			}
		}
	}
	.cta-widget {
		max-width: 265px;
		@media #{$lg,$md,$sm,$xs} {
			max-width: 240px;
		}
		.cta-info {
			gap: 16px;
			margin-bottom: 18px;
			.info-icon {
				font-size: 18px;
				color: var(--tz-prime-c);
			}
			.info-text {
				color: #9DA0AD;
				font-weight: 500;
			}
		}
	}
	.recent-widget {
		@media #{$lg,$md,$sm,$xs} {
			max-width: 240px;
		}
		@media #{$xxs} {
			max-width: 100%;
		}
	}
	.tz-recent-post {
		gap: 20px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-img {
			width: 80px;
			height: 80px;
			overflow: hidden;
			border-radius: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.item-text {
			span {
				color: #9DA0AD;
				font-size: 14px;
				margin-bottom: 5px;
				i {
					margin-right: 5px;
				}
			}
			h3 {
				color: #fff;
				font-size: 17px;
				font-weight: 700;
				margin-bottom: 5px;
			}
			.read_more {
				font-weight: 600;
				color: var(--tz-prime-c);
				i {
					margin-left: 5px;
				}
			}
		}
	}
}
.tz-footer-copyright {
	gap: 15px;
	padding: 30px 0px;
	border-top: 1px solid #161A2C;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	p {
		color: #fff;
	}
}
.tz-footer-menu {
	li {
		margin-left: 20px;
		&:nth-child(1) {
			margin-left: 0;
		}
		a {
			color: #fff;
		}
	}
}