@keyframes swing {
	20% { transform: rotate(20deg); }	
	40% { transform: rotate(-15deg); }
	60% { transform: rotate(10deg); }	
	80% { transform: rotate(-10deg); }	
	100% { transform: rotate(0deg); }
}
@keyframes elastic-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(720deg); }
}
@keyframes IT_animation_2 {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-40px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes IT_animation_1 {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-40px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0);
	}
}
.tz-footer-sec {
	z-index: 1;
	overflow: hidden;
	background-color: #05091A;
	.tz-ftr-shape {
		top: 25%;
		left: 70px;
		z-index: -1;
		span {
			animation: elastic-spin 5s infinite ease;
		}
	}
	.tz-ftr-sh1 {
		z-index: -1;
		top: -45px;
		right: -45px;
	}
	.tz-ftr-sh2 {
		top: -30px;
		right: -30px;
		z-index: -2;
	}
	.tz-ftr-sh3,
	.tz-ftr-sh4 {
		top: 30%;
		right: 5%;
	}
	.tz-ftr-sh4 {
		top: 31%;
		right: 6%;
	}
	.tz-ftr-sh5 {
		left: -13%;
		bottom: -13%;
		z-index: -1;
		opacity: .09;
	}
}
.tz-footer-newsletter {
	gap: 30px;
	border-bottom: 1px solid #161A2C;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.tz-ft-news-text {
	gap: 15px 30px;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	.item-icon {
		color: #fff;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		background-color: var(--tz-prime-c);
		i {
			font-size: 28px;
			transform-origin: top top;
			animation: swing 2s ease infinite;
		}
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 34px;
			font-weight: 700;
			padding-bottom: 10px;
			@media #{$lg,$md,$sm,$xs} {
				font-size: 30px;
			}
		}
		span {
			color: #A9A9AA;
		}
	}
}
.tz-ft-news-form {
	width: 100%;
	max-width: 520px;
	@media #{$lg} {
		max-width: 400px;
	}
	@media #{$md,$sm,$xs} {
		max-width: 100%;
	}
	input {
		width: 100%;
		height: 60px;
		border: none;
		padding-left: 30px;
		border-radius: 30px;
		background-color: #fff;
	}
	button {
		top: 5px;
		right: 5px;
		color: #fff;
		border: none;
		font-weight: 600;
		padding: 13px 35px;
		position: absolute;
		border-radius: 50px;
		transition: all 500ms ease-in-out;
		background-color: var(--tz-prime-c);
		@media #{$lg,$md,$sm,$xs} {
			padding: 13px 25px;
		}
		@media #{$xxs} {
			position: static;
			margin-top: 15px;
		}
		&:hover {
			color: #fff;
			background-color: var(--tz-title-color);
		}
	}
}
.tz-footer-widget-wrap {
	gap: 30px 75px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		gap: 30px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		gap: 30px 40px;
		justify-content: space-between;
	}
}
.tz-footer-widget {
	.widget-title {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 24px;
	}
	&:is(.ver_2) {
		.widget-title {
			font-size: 24px;
		}
	}
	.logo-widget {
		max-width: 310px;
		@media #{$lg,$md,$sm,$xs} {
			max-width: 250px;
		}
		p {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		.footer-social {
			gap: 8px;
			a {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: #0D1329;
				color: rgba(255, 255, 255, 0.5);
				&:hover {
					color: #fff;
					background-color: var(--tz-prime-c);
				}
			}
		}
	}
	.menu-widget {
		li {
			margin-bottom: 13px;
			a {
				color: #9DA0AD;
				padding-left: 20px;
				position: relative;
				&:before {
					top: 0;
					left: 0;
					font-weight: 900;
					content: '\f054';
					position: absolute;
					color: var(--tz-prime-c);
					font-family: 'Font Awesome 5 Free';
				}
				&:hover {
					color: var(--tz-prime-c);
				}
			}
		}
	}
	.cta-widget {
		max-width: 265px;
		@media #{$lg,$md,$sm,$xs} {
			max-width: 240px;
		}
		.cta-info {
			gap: 16px;
			margin-bottom: 18px;
			.info-icon {
				font-size: 18px;
				color: var(--tz-prime-c);
			}
			.info-text {
				color: #9DA0AD;
				font-weight: 500;
			}
		}
	}
	.recent-widget {
		@media #{$lg,$md,$sm,$xs} {
			max-width: 240px;
		}
		@media #{$xxs} {
			max-width: 100%;
		}
	}
	.tz-recent-post {
		gap: 20px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-img {
			width: 80px;
			height: 80px;
			overflow: hidden;
			border-radius: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.item-text {
			span {
				color: #9DA0AD;
				font-size: 14px;
				margin-bottom: 5px;
				i {
					margin-right: 5px;
				}
			}
			h3 {
				color: #fff;
				font-size: 17px;
				font-weight: 700;
				margin-bottom: 5px;
			}
			.read_more {
				font-weight: 600;
				color: var(--tz-prime-c);
				i {
					margin-left: 5px;
				}
			}
		}
	}
	.newslatter-widget {
		max-width: 440px;
		h2 {
			color: #fff;
			font-size: 30px;
			font-weight: 700;
			padding-bottom: 15px;
		}
		p {
			color: #9DA0AD;
			font-weight: 500;
			padding-bottom: 35px;
		}
		form {
			width: 100%;
			position: relative;
			input {
				width: 100%;
				height: 60px;
				border: none;
				color: #1A1A1A;
				padding-left: 30px;
				border-radius: 100px;
				&:placeholder {
					color: #1A1A1A;
				}
			}
			button {
				top: 5px;
				right: 5px;
				color: #fff;
				border: none;
				font-weight: 600;
				position: absolute;
				padding: 13px 34px;
				border-radius: 100px;
				transition: all 500ms ease-in-out;
				background-color: var(--tz-prime-c);
				&:hover {
					background-color: var(--tz-title-color);
				}
				@media #{$xxs} {
					position: static;
					margin-top: 15px;
				}
			}
		}
	}
	.newslatter-widget3 {
		width: 325px;
		p {
			color: #B0B2B7;
			padding-bottom: 30px;
		}
		form {
			height: 50px;
			position: relative;
			input {
				color: #fff;
				width: 100%;
				height: 100%;
				border: none;
				padding-left: 15px;
				border-radius: 4px;
				background-color: #303137;
				&::placeholder {
					color: #fff;
				}
			}
			button {
				top: 0;
				right: 0;
				color: #fff;
				height: 50px;
				font-weight: 700;
				padding: 0px 25px;
				border-radius: 4px;
				position: absolute;
				background-color: var(--tz-prime-c);
			}
		}
	}
}
.tz-footer-copyright {
	gap: 15px;
	padding: 30px 0px;
	border-top: 1px solid #161A2C;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	p {
		color: #fff;
	}
}
.tz-footer-menu {
	li {
		margin-left: 20px;
		&:nth-child(1) {
			margin-left: 0;
		}
		a {
			color: #fff;
			&:hover {
				color: var(--tz-prime-c);
			}
		}
	}
}

.tz-footer-sec-2 {
	z-index: 1;
	overflow: hidden;
	padding-top: 120px;
	background-color: #05091A;
	.tz-ftr-shape1 {
		top: -20px;
		left: -20px;
		z-index: -1;
		animation: IT_animation_2 5s infinite linear alternate;
	}
	.tz-ftr-shape2 {
		right: 20px;
		bottom: 150px;
		z-index: -1;
		animation: IT_animation_1 5s infinite linear alternate;
	}
	.tz-ftr-shape3 {
		right: -5px;
		bottom: 175px;
		z-index: -1;
		animation: elastic-spin 5s infinite ease;
	}
	.tz-ftr-shape4 {
		top: -35px;
		right: -110px;
		z-index: -1;
		animation: IT_animation_1 5s infinite linear alternate;
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.tz-ftr-tringle-shape {
		gap: 5px;
		left: 95px;
		bottom: 120px;
		z-index: -1;
		span {
			animation: elastic-spin 5s infinite ease;
		}
	}
	.tz-footer-widget-wrap {
		gap: 30px 135px;
		@media #{$xl,$lg,$md,$sm,$xs} {
			gap: 30px 50px;
		}
		@media #{$md,$sm,$xs} {
			flex-wrap: wrap;
		}
	}
	.tz-footer-widget {
		position: relative;
		&:before {
			top: 50%;
			width: 1px;
			content: '';
			right: -68px;
			height: 220px;
			position: absolute;
			background-color: #191F38;
			transform: translateY(-50%);
			@media #{$xl,$lg,$md,$sm,$xs} {
				display: none;
			}
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
}
.tz-footer-menu-wrap {
	padding: 15px;
	gap: 15px 30px;
	border-radius: 100px;
	background: #FFFFFF12;
	backdrop-filter: blur(80px);
	border: 1px solid #FFFFFF12;
	@media #{$xs} {
		flex-wrap: wrap;
		border-radius: 20px;
		justify-content: center !important;
	}
	.footer-menu {
		li {
			margin-left: 45px;
			@media #{$xs} {
				margin: 0px 10px;
			}
			a {
				color: #fff;
				font-weight: 500;
				&:hover {
					color: var(--tz-prime-c);
				}
			}
		}
	}
	.menu-btn {
		a {
			font-weight: 600;
			padding: 13px 30px;
			border-radius: 100px;
			background-color: #fff;
			color: var(--tz-prime-c);
			i {
				transform: rotate(-45deg);
			}
			&:hover {
				color: #fff;
				background-color: var(--tz-prime-c);
			}
		}
	}
}
.tz-footer-cta-wrap {
	padding-top: 40px; 
	padding-bottom: 40px;
	border-top: 1px solid #21263D;
}
.tz-ft-cta-item {
	gap: 20px;
	.item-icon {
		color: #fff;
		width: 65px;
		height: 65px;
		font-size: 20px;
		border-radius: 100%;
		background-color: var(--tz-prime-c);
	}
	.item-text {
		h3 {
			color: #67686A;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 1px;
			padding-bottom: 10px;
		}
		a {
			color: #fff;
			display: block;
			max-width: 230px;
		}
	}
}