.tz-header-section {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	position: absolute;
	.navbar-nav {
		flex-direction: row;
	}
	&:is(.header_style_one) {
		.tz-header-top {
			color: #fff;
			padding: 8px 0px;
			background-color: var(--tz-prime-c);
			@media #{$md,$sm,$xs} {
				display: none !important;
			}
			.tz-top-cta {
				a {
					font-weight: 500;
					margin-right: 30px;
					i {
						margin-right: 6px;
					}
				}
			}
			.tz-top-social {
				span {
					font-size: 16px;
					font-weight: 500;
				}
				a {
					margin-left: 20px;
					&:hover {
						transform: scale(1.2);
					}
					&:first-child {
						margin-left: 10px;
					}
				}
			}
		}
		.tz-main-navigation-area {
			padding: 30px;
			background-color: #fff;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			border: 1px solid var(--tz-prime-c);
			border-top: none;
			box-shadow: 0px 8px 30px 0px #1F153F1A;
			box-shadow: 0px 4px 0px 0px var(--tz-prime-c);
			@media #{$xxs} {
				padding: 15px 20px;
			}
		}
		.main-navigation-cta {
			.main-navigation {
				@media #{$md,$sm,$xs} {
					display: none ;
				}
				li {
					margin: 0px 26px;
					@media #{$xl} {
						margin: 0px 20px;
					}
					@media #{$lg} {
						margin: 0px 15px;
					}
					a {
						font-size: 18px;
						font-weight: 600;
						display: inline;
						color: var(--tz-title-color);
					}
				}
			}
		}
		.header-action {
			gap: 40px;
			@media #{$md,$sm,$xs} {
				gap: 20px;
			}
			.header-cta {
				gap: 14px;
				@media #{$lg,$md,$sm,$xs} {
					display: none !important;
				}
				.item-icon {
					width: 50px;
					height: 50px;
					border-radius: 100%;
					background-color: #F1ECFF;
					i {
						color: var(--tz-prime-c);
					}
				}
				.item-text {
					a,span {
						display: block;
						white-space: nowrap;
						color: var(--tz-title-color);
					}
					span {
						font-size: 14px;
					}
					a {
						font-size: 16px;
						font-weight: 700;
						color: var(--tz-title-color);
					}
				}
			}
		}
		.header-cta-btn {
			@media #{$xxs} {
				display: none;
			}
			a {
				gap: 12px;
				color: #fff;
				display: flex;
				font-size: 16px;
				font-weight: 700;
				white-space: nowrap;
				align-items: center;
				border-radius: 100px;
				padding: 12px 23px 12px 25px;
				background-color: var(--tz-prime-c);
				i {
					width: 26px;
					height: 26px;
					display: flex;
					font-size: 14px;
					align-items: center;
					border-radius: 100%;
					justify-content: center;
					border: 1px solid #FFFFFF;
				}
			}
		}
	}
}
.tz-mobile-btn-trigger {
	padding: 0;
	padding: 0;
	border: none;
	display: none;
	background-color: transparent;
	span {
		width: 30px;
		height: 2px;
		display: block;
		margin-bottom: 5px;
		background-color: #000;
		&:nth-child(2) {
			width: 25px;
		}
		&:last-child {
			width: 20px;
			margin-bottom: 0;
		}
	}
	@media #{$md,$sm,$xs} {
		display: block;
	}
}