.tz-feature2-sec {
	z-index: 2;
	position: relative;
	margin-top: -80px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		margin-top: 50px;
	}
}
.tz-feature2-content {
	gap: 15px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.tz-feature2-item {
	z-index: 1;
	width: 100%;
	max-width: 420px;
	padding: 10px 10px 10px 25px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		padding: 0;
	}
	.item-shape-bg {
		top: 0;
		left: 0;
		z-index: -1;
		position: absolute;
		@media #{$xl,$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.item-inner {
		padding: 30px;
		overflow: hidden;
		border-radius: 15px;
		@media #{$lg,$md,$sm,$xs} {
			padding: 15px;
		}
	}
	.item-icon-number {
		gap: 15px;
		margin-bottom: 25px;
		.item-icon {
			width: 85px;
			height: 85px;
			border-radius: 100%;
			background-color: #fff;
			box-shadow: 0px 13px 23px 0px #00000012;
			@media #{$xxs} {
				width: 70px;
				height: 70px;
			}
		}
		.item-number {
			h2 {
				line-height: 1;
				font-size: 44px;
				font-weight: 700;
				padding-bottom: 8px;
				@media #{$xxs} {
					font-size: 36px;
				}
			}
			h3 {
				font-size: 18px;
				font-weight: 700;
				@media #{$xxs} {
					font-size: 16px;
					max-width: 150px;
				}
			}
		}
	}
	p {
		max-width: 303px;
		padding-left: 10px;
	}
	&:hover {
		.item-icon-number {
			.item-icon {
				animation: icon-bounce 1s ease-out infinite;
			}
		}
	}
}