@keyframes flip {
	0% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	80% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	100% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}
.tz-ser2-sec {
	z-index: 1;
	margin: 0px 40px;
	overflow: hidden;
	border-radius: 30px;
	background-color: #F0EEF5;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		margin: 0;
		border-radius: 0px;
	}
	.tz-section-title {
		margin: 0 auto;
		max-width: 630px;
	}
	.tz-ser2-shape1 {
		top: -170%;
		right: -30%;
		z-index: -1;
	}
	.tz-ser2-shape2 {
		left: -30%;
		z-index: -1;
		bottom: -170%;
	}
	.tz-ser2-circle1,
	.tz-ser2-circle3 {
		z-index: -1;
		width: 540px;
		height: 540px;
		position: absolute;
		border-radius: 100%;
		background-color: var(--tz-prime-c);
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.tz-ser2-circle2,
	.tz-ser2-circle4 {
		z-index: -2;
		width: 630px;
		height: 630px;
		position: absolute;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.tz-ser2-circle1 {
		top: -40%;
		left: -17%;
	}
	.tz-ser2-circle2 {
		top: -46%;
		left: -20%;
	}
	.tz-ser2-circle3 {
		bottom: -40%;
		right: -17%;
	}
	.tz-ser2-circle4 {
		bottom: -46%;
		right: -20%;
	}
}
.tz-ser2-item {
	z-index: 1;
	margin-bottom: 30px;
	padding: 0px 40px 40px;
	.ser-itm-bg {
		top: 0;
		width: 100%;
		left: -5px;
		z-index: -1;
		height: 100%;
		margin: 0 auto;
		@media #{$xs} {
			left: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.ser-itm-bg2 {
		top: 0;
		height: 0;
		left: -5px;
		opacity: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		visibility: hidden;
		transition: all 500ms ease-in-out;
		@media #{$xs} {
			left: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-icon {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		border-radius: 15px;
		margin-bottom: 55px;
		background-color: var(--tz-prime-c);
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 12px;
		}
		p {
			padding-bottom: 24px;
		}
		.read_more {
			color: #fff;
			font-weight: 700;
			padding: 10px 30px;
			border-radius: 100px;
			background-color: var(--tz-prime-c);
			i {
				transition: all 300ms ease-in-out;
			}
			&:hover {
				background-color: var(--tz-title-color);
				i {
					margin-left: 5px;
				}
			}
		}
	}
	&:hover {
		.item-icon {
			img {
				animation: flip 1s;
			}
		}
		.ser-itm-bg2 {
			opacity: 1;
			visibility: visible;
		}
	}
}