.tz-ser-feat-text-wrap {
	max-width: 590px;
}
.tz-ser-feat-content {
	gap: 30px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.tz-ser-feat-item {
	gap: 15px 25px;
	margin-bottom: 40px;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.item-icon {
		width: 70px;
		height: 70px;
		border-radius: 100%;
		background-color: #EDEEFD;
	}
	.item-text {
		max-width: 494px;
		h3 {
			font-size: 22px;
			font-weight: 700;
		}
		p {
			padding-top: 10px;
		}
	}
}
.tz-ser-feat-img-wrap {
	.item-img {
		clip-path: polygon( 9.202% 50.211%,9.202% 50.211%,7.729% 50.612%,6.346% 51.205%,5.068% 51.974%,3.91% 52.904%,2.888% 53.979%,2.018% 55.185%,1.314% 56.505%,0.793% 57.924%,0.469% 59.428%,0.357% 61%,0.357% 89%,0.357% 89%,0.501% 90.784%,0.918% 92.477%,1.585% 94.055%,2.479% 95.496%,3.579% 96.778%,4.861% 97.878%,6.302% 98.772%,7.88% 99.439%,9.573% 99.856%,11.357% 100%,39.357% 100%,39.357% 100%,40.965% 99.883%,42.501% 99.544%,43.949% 98.999%,45.291% 98.264%,46.511% 97.356%,47.593% 96.292%,48.521% 95.087%,49.277% 93.759%,49.846% 92.324%,50.211% 90.798%,50.211% 90.798%,50.612% 92.271%,51.205% 93.654%,51.974% 94.932%,52.904% 96.09%,53.979% 97.112%,55.185% 97.982%,56.505% 98.686%,57.924% 99.207%,59.428% 99.532%,61% 99.643%,89% 99.643%,89% 99.643%,90.784% 99.499%,92.477% 99.082%,94.055% 98.415%,95.496% 97.521%,96.778% 96.421%,97.878% 95.139%,98.772% 93.698%,99.439% 92.12%,99.856% 90.427%,100% 88.643%,100% 60.643%,100% 60.643%,99.883% 59.035%,99.544% 57.499%,98.999% 56.052%,98.264% 54.709%,97.356% 53.489%,96.292% 52.407%,95.087% 51.479%,93.759% 50.723%,92.324% 50.154%,90.798% 49.789%,90.798% 49.789%,92.271% 49.388%,93.654% 48.795%,94.933% 48.026%,96.09% 47.096%,97.112% 46.021%,97.982% 44.815%,98.686% 43.495%,99.207% 42.076%,99.532% 40.572%,99.643% 39%,99.643% 11%,99.643% 11%,99.499% 9.216%,99.082% 7.523%,98.415% 5.945%,97.521% 4.504%,96.421% 3.222%,95.139% 2.122%,93.698% 1.228%,92.12% 0.561%,90.427% 0.144%,88.643% 0%,60.643% 0%,60.643% 0%,59.035% 0.117%,57.499% 0.456%,56.052% 1.001%,54.709% 1.736%,53.489% 2.644%,52.407% 3.708%,51.479% 4.913%,50.723% 6.241%,50.154% 7.676%,49.789% 9.202%,49.789% 9.202%,49.388% 7.729%,48.795% 6.346%,48.026% 5.068%,47.096% 3.91%,46.021% 2.888%,44.815% 2.018%,43.495% 1.314%,42.076% 0.793%,40.572% 0.469%,39% 0.357%,11% 0.357%,11% 0.357%,9.216% 0.501%,7.523% 0.918%,5.945% 1.585%,4.504% 2.48%,3.222% 3.579%,2.122% 4.861%,1.228% 6.302%,0.561% 7.88%,0.144% 9.573%,0% 11.357%,0% 39.357%,0% 39.357%,0.117% 40.965%,0.456% 42.501%,1.001% 43.949%,1.736% 45.291%,2.644% 46.511%,3.708% 47.593%,4.913% 48.521%,6.241% 49.277%,7.676% 49.846%,9.202% 50.211% );
	}
}