.tz-cnt-map-content {
	padding: 50px;
	display: flex;
	gap: 30px 40px;
	align-items: center;
	border-radius: 15px;
	background-color: #F2F3F4;
	justify-content: space-between;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.tz-cnt-map-cta {
	max-width: 430px;
}
.tz-cnt-map-frame {
	width: 100%;
	max-width: 660px;
	@media #{$xl} {
		max-width: 550px;
	}
	@media #{$lg} {
		max-width: 400px;
	}
}
.tz-cnt-cta-item {
	gap: 25px;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #DCDFE2;
	@media #{$xs} {
		flex-wrap: wrap;
	}
	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
		padding-bottom: 0px;
	}
	.item-icon {
		width: 80px;
		height: 80px;
		font-size: 28px;
		border-radius: 100%;
		background-color: #fff;
		color: var(--tz-prime-c);
	}
	.item-text {
		max-width: 320px;
		h3 {
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 8px;
		}
	}
}